services:
  redpanda:
    image: redpandadata/redpanda:latest
    container_name: redpanda
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "512M"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --check=false
      - --kafka-addr
      - "PLAINTEXT://0.0.0.0:9092"
      - --advertise-kafka-addr
      - "PLAINTEXT://redpanda:9092"
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD-SHELL", "rpk cluster health | grep -q 'Healthy'"]
      interval: 5s
      timeout: 5s
      retries: 30

  # ВАЖНО: создаёт топик ДО запуска consumers
  init-topics:
    image: redpandadata/redpanda:latest
    depends_on:
      redpanda:
        condition: service_healthy
    entrypoint: ["/bin/sh", "-lc"]
    command: >
      "
      echo 'Creating topic orders (if not exists)...';
      rpk topic create orders -p 1 -r 1 --brokers redpanda:9092 || true;
      echo 'Done.';
      "
    restart: "no"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    depends_on:
      redpanda:
        condition: service_healthy
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: redpanda:9092

  api:
    build: ./api
    ports:
      - "8000:8000"
    depends_on:
      redpanda:
        condition: service_healthy
      init-topics:
        condition: service_completed_successfully
    environment:
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      KAFKA_TOPIC: orders
    restart: unless-stopped

  consumer_inventory:
    build: ./consumer_inventory
    depends_on:
      redpanda:
        condition: service_healthy
      init-topics:
        condition: service_completed_successfully
    environment:
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      KAFKA_TOPIC: orders
      KAFKA_GROUP_ID: inventory-service
    restart: unless-stopped

  consumer_analytics:
    build: ./consumer_analytics
    depends_on:
      redpanda:
        condition: service_healthy
      init-topics:
        condition: service_completed_successfully
    environment:
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      KAFKA_TOPIC: orders
      KAFKA_GROUP_ID: analytics-service
    restart: unless-stopped
